<div class="headerLeft">
  <a href="#"><img src="assets/icons/angle-left-solid.svg" alt="chefron_left" class="icon"></a>
  <a href="index.html"><img src="assets/img/logo_small.png" alt="logo_small" class="logo"><img
      src="assets/img/logo_text.png" alt="logo_text" class="text"></a>
</div>
<div class="headerMiddle">
  <h2>Speisekarte</h2>
</div>
<div class="headerRight">
  <div class="hoverEffect">
    <img src="assets/icons/germany-2888541_640.png" alt="german_flag" class="flag">
  </div>
  <div class="hoverEffect">
    <img src="assets/icons/bars-solid.svg" alt="bars" class="icon">
  </div>
</div>